include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include property_lease_management *.css
recursive-include property_lease_management *.csv
recursive-include property_lease_management *.html
recursive-include property_lease_management *.ico
recursive-include property_lease_management *.js
recursive-include property_lease_management *.json
recursive-include property_lease_management *.md
recursive-include property_lease_management *.png
recursive-include property_lease_management *.py
recursive-include property_lease_management *.svg
recursive-include property_lease_management *.txt
recursive-exclude property_lease_management *.pyc